# Ignore Visual Studio files
.vs/
bin/
obj/

# Ignore NuGet packages
*.nuget.props
*.nuget.targets
packages/

# Ignore user-specific files
*.user
*.suo
*.userprefs
*.vscode/

# Ignore build output
bin/
obj/
